<div class="login">
    <!-- <div class="header">
      <div class="header_component">
        PSA Logo
      </div>
      <div class="header_component" id="header_title">
        PSA Employee Tracker
      </div>
    </div> -->
    <div class="card">
      <form>
        <div class="inputs">
          <input type="text" placeholder="UserName*" id="username" required/>
          <input type="password" placeholder="Password*" id="password" required/>
        </div>
        <div class="buttons">
          <button class="btn" id="btn-login" type="submit" routerLink="/welcome">Login</button>
          <button class="btn" id="btn-signup" routerLink="/signup" formnovalidate>Sign Up</button>
          <button class="btn" id="btn-fgtpwd" formnovalidate>Forget Password</button>
        </div>
      </form>
    </div>
  </div>